#flow-tb{
	border-collapse:collapse;
	background-image: url('../img/tb_bg.png');
	background-size: cover;
	width:100%;
	height:100%;
	text-align : center;
}

.bt_class{
	width:50%;
	height:auto;
}

.bt_class:hover{
	box-shadow:3px 3px 5px 6px #cccccc;
}
.bt_td{
	background-color:green;
	opacity:0.8;
}

